<nav class="navbar fixed-top nav-tabs navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ path('home') }}"><img class='logoLabo' src="{{ asset('build/images/Logo_LABO_V3_NoirRVB.png') }}" alt="logo Labo"><img class='logo' src="{{ asset('build/images/logo_op1.png') }}" alt="Logo Orleans Pepinieres"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav text-center mx-auto mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('reservation_new') }}">Réservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Réservations en Attente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Réservations en Cours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Réservations Archivées</a>
            </li>
        </ul>
        <a href="{{ path('staff_index') }}"> <i class="btn fas fa-cogs fa-2x" id="btnAdmin"></i></a>
    </div>
</nav>