{% form_theme form 'form/fields.html.twig' %}

<div class="container-fluid container_form">
    <!-- Ici commence le bloc information sur le client et l'entreprise -->

    {{ form_errors(form) }}

    {{ form_start(form) }}
    <div class="row">
        <div class="offset-9 col-2 offset-1 select_staff">
            <label for="{{ form.staff.vars.id }}"> Personnel :</label>
            {{ form_widget(form.staff) }}
            {{ form_errors(form.staff) }}
        </div>
    </div>
    <div class="row no-gutters allform">
        <div class="col-9">
            <div class="row justify-content-start">
                <div class="col-3">
                    <label for="{{ form.customer.firstName.vars.id }}"> Prénom :</label>
                    {{ form_widget(form.customer.firstName) }}
                    {{ form_errors(form.customer.firstName) }}

                </div>
                <div class="col-3">
                    <label for="{{ form.customer.lastName.vars.id }}">  Nom de famille : </label>
                    {{ form_widget(form.customer.lastName) }}
                    <span class="requirefield">* Champ Obligatoire</span>
                    {{ form_errors(form.customer.lastName) }}

                </div>
                <div class="col-3">
                    <label for="{{ form.company.companyName.vars.id }}">  Nom de l'entreprise : </label>
                    {{ form_widget(form.company.companyName) }}
                    <span class="requirefield">* Champ Obligatoire</span>
                    {{ form_errors(form.company.companyName) }}

                </div>
            </div>
            <div class="row justify-content-start formline">
                <div class="col-3">
                    <label for="{{ form.customer.mailAddress.vars.id }}"> Adresse mail :</label>
                    {{ form_widget(form.customer.mailAddress) }}
                    {{ form_errors(form.customer.mailAddress) }}

                </div>
                <div class="col-3">
                    <label for="{{ form.customer.phoneNumber.vars.id }}"> Téléphone :</label>
                    {{ form_widget(form.customer.phoneNumber) }}
                    {{ form_errors(form.customer.phoneNumber) }}
                </div>
            </div>
        </div>
        <div class="col-3 vertical-align-center">
            <label for="{{ form.comment.vars.id }}"> Commentaires :</label>
                {{ form_widget(form.comment) }}
            {{ form_errors(form.comment) }}
        </div>
    </div>

    <!-- Ici doit commencer le bloc équipement et salles du formulaire -->
    <div class="container-fluid menuswitch">
    <div class="d-flex flex-row">
        <div role="tablist">
        <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left">
            <li class="nav-item">
                <a href="#room" class="nav-link active" data-toggle="tab" role="tab" aria-controls="room"><i class="fas fa-key fa-2x"></i></a>
            </li>
            <li class="nav-item">
                <a href="#equipement" class="nav-link second" data-toggle="tab" role="tab" aria-controls="equipement"><i class="fas fa-wrench fa-2x"></i></a>
            </li>
            <li class="nav-item">
                <a href="#signature" class="nav-link third" data-toggle="tab" role="tab" aria-controls="signature"><i class="fas fa-file-signature fa-2x"></i></a>
            </li>
        </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="room">
                <div class="row room_reservation">
                    {% for room in form.rooms %}
                    {{ form_widget(form.rooms) }}
                    {{ form_errors(form.rooms) }}
                    {% endfor %}
                </div>
            </div>
            <!-- Ici doit commencer le bloc équipement du formulaire -->
            <div class="tab-pane fade show" id="equipement">
                <div class="row ">
                {% for reservationEquipement in form.reservationEquipements %}
                    <div class="col-3 align-self-center">
                        <label for="{{ reservationEquipement.quantity.vars.id }}">
                            {{ reservationEquipement.vars.value.equipement.name }}
                        </label>
                            <div class="row ">
                                <div class="col">
                                    {{ form_widget(reservationEquipement) }}
                                    {{ form_errors(reservationEquipement) }}
                                </div>
                            </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <!-- -->
            <!-- Ici doit commencer le bloc signature -->
            <div class="tab-pane fade bloc_signature" id="signature">
                <div class="row">
                    <div class="col-8">
                        <div id="canvas"></div>
                    </div>
                    <div class="offset-1 col-3">
                        <p class="text_signature">Merci de signer dans l'encart</p>
                        <span class="requirefield">* Champ Obligatoire</span>
                    </div>
                </div>
            </div>
            <!-- -->
        </div>
    </div>
    </div>

    <div class="row justify-content-center validbutton">
        <button class="btn text-center style-button bg-gradient1 mx-auto"><span>Valider la réservation</span></button>
    </div>
        {{ form_end(form) }}
</div>
