{% extends 'base.html.twig' %}

{% block title %}Archive Reservation index{% endblock %}

{% block body %}
    <div class="container-fluid celluleSelector">
        <h2>Réservations archivées</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date de réservation</th>
                <th scope="col">Date de clôture</th>
                <th scope="col">Entreprise</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Salle</th>
                <th scope="col">Equipement</th>
                <th scope="col">Commentaires</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td><a href="{{ path('archive_show',
                            {'id': reservation.id}) }}">{{ reservation.startDate|date('d/m/Y') }}</a></td>
                    <td><a href="{{ path('archive_show',
                            {'id': reservation.id}) }}">{{ reservation.endDate|date('d/m/Y') }}</a></td>
                    <td> <a href="{{ path('archive_show',
                            {'id': reservation.id}) }}">{{ reservation.company.companyName }}</a></td>
                    <td> <a href="{{ path('archive_show',
                            {'id': reservation.id}) }}">{{ reservation.customer.lastName }}</a></td>
                    <td> <a href="{{ path('archive_show',
                            {'id': reservation.id}) }}">{{ reservation.customer.firstName }}</a></td>
                    <td>
                        {% for room in reservation.rooms %}
                            <a href="{{ path('archive_show',
                                {'id': reservation.id}) }}">{{ room.name }} </a>
                        {% endfor %}
                    </td>
                    <td>
                        {% for reservationEquipement in reservation.reservationEquipements %}
                            <a href="{{ path('archive_show',
                                {'id': reservation.id}) }}"><li>{{ reservationEquipement.quantity }}x {{ reservationEquipement.equipement.name }}</li></a>
                        {% endfor %}
                    </td>
                    <td class="comments_table"> <a href="{{ path('archive_show',
                            {'id': reservation.id}) }}">{{ reservation.comment }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row justify-content-center">
            <div class="navigation">
                {{ knp_pagination_render(reservations) }}
            </div>
        </div>
    </div>
{% endblock %}
