{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <div class="container-fluid celluleSelector">
        <h2>Reservations en cours</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">N° de reservation</th>
                <th scope="col">Entreprise</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Salle</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                        <th class="text-center" scope="row" >
                            <a href="{{ path('reservation_show',
                                {'id': reservation.id}) }}">{{ reservation.id }}</a></th>
                        <td> <a href="{{ path('reservation_show',
                                {'id': reservation.id}) }}">{{ reservation.company.companyName }}</a></td>
                        <td> <a href="{{ path('reservation_show',
                                {'id': reservation.id}) }}">{{ reservation.customer.lastName }}</a></td>
                        <td> <a href="{{ path('reservation_show',
                                {'id': reservation.id}) }}">{{ reservation.customer.firstName }}</a></td>
                        <td> <a href="{{ path('reservation_show',
                                {'id': reservation.id}) }}">{{ reservation.comment }}</a></td>
                        <td>
                            {%  if  reservation.rooms  | length > 1 %}
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Salles reservées
                                </button>
                                <div class="dropdown-menu">
                                    {% for room in reservation.rooms %}
                                    <span class="dropdown-item">{{ room.name }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            {% else %}
                                {% for room in reservation.rooms %}
                            <span>{{ room.name }}</span>
                                {% endfor %}
                            {% endif %}
                        </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row justify-content-center">
            <div class="navigation">
                {{ knp_pagination_render(reservations) }}
            </div>
        </div>
    </div>
{% endblock %}
