{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}

    <div class="container-fluid celluleSelector">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="row mt-3 messagesflash align-items-center">
                    <div class="col-lg-6 mx-auto alert alert-dismissible alert-{{ label }} flash-{{ label }} fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        <h2>Reservations en cours</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">N° de reservation</th>
                <th scope="col">Date de réservation</th>
                <th scope="col">Entreprise</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Salle</th>
                <th scope="col">Archiver</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                        <th class="text-center" scope="row">
                            <a href="{{ path('reservation_show',
                                {'id': reservation.id}) }}">{{ reservation.id }}</a></th>
                        <td><a href="{{ path('reservation_show',
                                {'id': reservation.id}) }}">{{ reservation.startDate|date('d/m/Y') }}</a></td>
                        <td> <a href="{{ path('reservation_show',
                                {'id': reservation.id}) }}">{{ reservation.company.companyName }}</a></td>
                        <td> <a href="{{ path('reservation_show',
                                {'id': reservation.id}) }}">{{ reservation.customer.lastName }}</a></td>
                        <td> <a href="{{ path('reservation_show',
                                {'id': reservation.id}) }}">{{ reservation.customer.firstName }}</a></td>
                        <td> <a href="{{ path('reservation_show',
                                {'id': reservation.id}) }}">{{ reservation.comment }}</a></td>
                        <td>
                            {% for room in reservation.rooms %}
                                    <a href="{{ path('reservation_show',
                                        {'id': reservation.id}) }}">{{ room.name }} </a>
                            {% endfor %}
                        </td>
                        <td>
                            {{ include('reservation/_archiveForm.html.twig') }}
                        </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row justify-content-center">
            <div class="navigation">
                {{ knp_pagination_render(reservations) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('archive') }}
{% endblock %}