{% extends 'base.html.twig' %}

{% block title %}Détail de la Réservation{% endblock %}

{% block body %}
    <div class="backlink"><a href="{{ path('current_reservation_index') }}"><i class="fas fa-chevron-circle-left"></i></a></div>
    <main class="container pt-lg-5 mb-5">
        <div class="pt-5">
            <h2 class="text-center mt-3">Détail de la Réservation n°{{ reservation.id }}</h2>
        </div>
        <div class="row reservationDetail">
            <div class="col-4 pt-5 justify-content-center">
                <div class="row">
                    <h3><span>Entreprise : </span><label>{{ reservation.company.companyName }}</label></h3>
                </div>
                <div class="row">
                    <h3><span>Numéro de téléphone : </span><label>{{ reservation.customer.phoneNumber }}</label></h3>
                </div>
                <div class="row keyDateStart">
                    <h3><span>Date de remise des cles : </span><label>{{ reservation.startDate|date('d-m-Y') }}</label></h3>
                </div>
            </div>
            <div class="col-4 pt-5 justify-content-center">
                <div class="row">
                    <h3><span>Prénom : </span><label>{{ reservation.customer.firstName }}</label></h3>

                </div>
                <div class="row">
                    <h3><span>Email : </span><label>{{ reservation.customer.mailAddress }}</label></h3>
                </div>
                <div class="row">
                    <!-- Ici commence le bloc img de signature -->
                    <img src="https://via.placeholder.com/180x120" alt="Generic placeholder image">
                </div>
            </div>
            <div class="col-4 pt-5 justify-content-center">
                <div class="row">

                    <h3><span>Nom : </span><label>{{ reservation.customer.lastName }}</label></h3>
                </div>

                <div class="row">
                    <h3 class="comments"><span>Commentaire : </span><label>{{ reservation.comment }}</label></h3>
                </div>
                <div class="row">

                    <h3 class="staffSelection"><span>Responsable de l'accueil : </span><label>{{ reservation.staff.firstName }}</label></h3>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
        </div>
        <div class="row d-flex flex-row">
            <div class="col-6 detailblock">
                <div class="card">
                    <h3 class="card-header text-center"><span>Salle(s) Réservée(s)</span></h3>
                    <div class="card-body">
                        <label>{% for room in reservation.rooms %}
                                <li>{{ room.name }}</li>
                            {% endfor %}
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-6 detailblock">
                <div class="card">
                    <h3 class="card-header text-center"><span>Equipement(s) Réservé(s)</span></h3>
                    <div class="card-body">
                        <!-- Ici commence le bloc sur recuperation des equipements selectionnés -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center validbutton ">
            <a href="{{ path('reservation_edit', {'id': reservation.id}) }}"
               class="btn text-center style-button bg-gradient1 mx-auto"><span>Modifier</span></a>
        </div>
    </main>
{% endblock %}
