{% extends 'baseAdmin.html.twig' %}

{% block title %}Index du personnel{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h2 class="text-center">Liste du personnel</h2>
            <div class="row">
                <div class="col-md-12">
                    <table id="datatable" class="table table-striped table-bordered">
                    <thead class="thead-center text-center">
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Modifier</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    {% for staff in staffs %}
                        <tr>
                            <td>{{ staff.lastname }}</td>
                            <td>{{ staff.firstname }}</td>
                            <td><a href="{{ path('staff_edit', {'id': staff.id}) }}" class="badge badge-light"><i class="fas fa-pen"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    <div class="row justify-content-center validbutton">
                        <a href="{{ path('staff_new') }}" class="btn text-center style-button bg-gradient1 mx-auto"><span>Ajouter du personnel</span></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="navigation">
                    {{ knp_pagination_render(staffs) }}
                </div>
            </div>
        </div>
    </main>

{% endblock %}
